[{elvis,
  [
   {rulesets,
    #{whitespaces => [{elvis_text_style, no_trailing_whitespace, #{ ignore_empty_lines => false }},
                      {elvis_style, no_space_after_pound, #{}},
                      {elvis_text_style, no_redundant_blank_lines, #{ max_lines => 1 }},
                      % {elvis_style, no_space},
                      % {elvis_style, operator_spaces,
                      %  #{ rules => [{left, "!"}, {right, "!"}, {left, "*"}, {right, "*"},
                      %               {left, "+"}, {right, "+"}, {left, "++"}, {right, "++"},
                      %               {left, "-"}, {right, "-"}, {left, "--"}, {right, "--"},
                      %               {left, "->"}, {right, "->"}, {left, "/"}, {right, "/"},
                      %               {left, "/="}, {right, "/="}, {left, "::"}, {right, "::"},
                      %               {left, ":="}, {right, ":="}, {left, "<"}, {right, "<"},
                      %               {left, "<-"}, {right, "<-"}, {left, "<="}, {right, "<="},
                      %               {left, "="}, {right, "="}, {left, "=/="}, {right, "=/="},
                      %               {left, "=:="}, {right, "=:="}, {left, "=<"}, {right, "=<"},
                      %               {left, "=="}, {right, "=="}, {left, "=>"}, {right, "=>"},
                      %               {left, ">"}, {right, ">"}, {left, ">="}, {right, ">="},
                      %               {left, "|"}, {right, "|"}, {left, "||"}, {right, "||"},
                      %               {right, ","}]}}
                      {elvis_style, operator_spaces,
                       #{ rules => [{left, "="}, {right, "="}]}}]}},
   {config,
    %% TODO: extend it to the whole codebase
    [#{dirs => ["src/**"],
       filter => "*.erl",
       ruleset => whitespaces,
       rules => [{elvis_text_style, line_length, #{limit => 120,
                                                   ignore => [mod_faceit_supergroups_db],
                                                   skip_comments => false}}],
       ignore => ['XmppAddr', eldap_filter_yecc]}]}
  ]
 }].
